<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <app-update-album [album]="updatedAlb"
                      (albumUpdated)="albumUpdated($event)"
                      [ajout]="ajout"
                      
    ></app-update-album>
  </div>
  <div class="card shadow mb-4">
    <div class="card-body"> 
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom Album</th>
            <th>Action</th>
          </tr>
        </thead>
        @for(alb of albums; track alb.idAlb) {
        <tbody>
          <tr>
            <td>{{ alb.idAlb }}</td>
            <td>{{ alb.nomAlb }}</td>
            <td><a class="btn btn-success"  (click)="updateAlb(alb)">Editer</a></td> 
          </tr>
        </tbody>
        }
      </table>
    </div>
  </div>
</div>
