<div class="container">
<div class="container"> 
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4"> 
        <label>Albums </label> 
        <select class="form-control form-control-lg" id="idAlb" name="idAlb" 
            [(ngModel)]="IdAlbum"    
            (change)="onChange()">         
            @for(alb of albums;track alb.idAlb)  { 
                <option value="{{alb.idAlb}}"> {{alb.nomAlb}}  </option> 
            }
        </select>                      
    </div> 

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th><th>Nom</th><th>Duree</th><th>Date Sortie</th><th>Album</th>
          </tr>
        </thead>

        @for (chanson of chansons; track chanson.idChanson)  {
        <tbody>
          <tr>
            <td>{{ chanson.idChanson }}</td>
            <td>{{ chanson.titreChanson }}</td>
            <td>{{ chanson.duree }}</td>
            <td>{{ chanson.dateSortie | date : "dd/MM/yyyy" }}</td>
            @if(chanson.album)  {
              <td>{{ chanson.album.nomAlb }}</td>} 
            @else {
              <td>Sans Album</td>}
            <!-- <td><a class="btn btn-danger" (click)="supprimerChanson(chanson)">Supprimer</a></td> 
            <td><a class="btn btn-success" [routerLink]="['/updateChanson',chanson.idChanson]">Modifier</a></td>  -->
          </tr>
        </tbody>
        }
      </table>
    </div>
  </div>
</div>
